*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}
html {
	scroll-behavior: smooth;
	background: black;
}

body {
	margin: 0;
	--color-text: #333;
	--color-bg: #000;
	--color-content: #2a163e;
	--color-link: #5322ad;
	--color-link-hover: #db6222;
	--color-alt: #5322ad;
	--color-info: #e93f3b;
	color: var(--color-text);
	background: linear-gradient(200deg, rgba(42,22,62,1) 55%, rgba(0,0,0,1) 100%);
	background-attachment: fixed;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin-top: 0;
	font-size: 18px;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,180deg);
		border-radius: 50%;
	}
}

a {
	transition: color 0.2s;
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.message {
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	text-align: center;
}



.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.content.intro {
	color: #ddd;
}

.content__title-wrap {
	position: relative;
	text-align: center;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vw;
}

.content__title-wrap a {
	pointer-events: auto;
}

.content__pretitle {
	color: var(--color-alt);
	font-size: 1.35rem;
}

.content__title {
	font-size: 6vw;
	font-weight: normal;
	margin: 0.5rem 0 1.5rem;
	font-family: azo-sans-uber, sans-serif;
}

.content__link {
	text-decoration: underline;
	font-family: azo-sans-uber, sans-serif;
	font-size: 1.1rem;
	color: inherit;
}

#app {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

canvas {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 100;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2.5rem 4.5rem;
		pointer-events: none;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title info'
							'... ...'
							'... demos';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
	}
	.frame__title {
		margin: 0 8vw 0 0;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame__links a {
		display: inline-block;
	}
	.frame__info {
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		min-height: 100vh;
		justify-content: center;
	}
}

.row {
	max-width: 1200px;
}

.column {
	display: flex;
	flex-wrap: wrap;
}
.column > div {
	padding: 20px;
	margin: 10px;
	max-width: 380px;
	flex-grow: 1;
	background: rgba(255,255,255,0.9);
}

.column.full > div {
	max-width: 100%;
}

iframe {
	width: 100%;
}

.divider {
	background: linear-gradient(0deg, rgba(42,22,62,1) 30%, rgba(255,255,255,0) 100%);
	position: absolute;
	width: 100%;
	height: 200px;
	transform: translateY(-200px);
	z-index: 2;
}

img {
	width: 100%;
	height: auto;
}

footer {
	color: #fff;
	padding: 20px;
}

test {
	color: #8a5fff;
background-color: #ff7a32;
border-color: #231242
}
